{% include 'navbar.html'%}

{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}


{% block content %}


        
<div class="row">
        
                {% for post in posts%}
                <div class="row">
                <div class="col-md-12">
                  <div class="thumbnail text-center" style="font-family: Great Vibes;font-size: 50px;">
              
                  <h5 class="card-header">{{post.category}}</h5>
                  <div class="card-body">
                  
                      <h2>{{post.description}}</h2>
                      <small><a style="font-family: Great Vibes;font-size: 20px;">{{post.author}}</a></small>
                      
              </div>
              </div>
                </div>
                </div>
                {% endfor %}


                <div class="container">
                                <div class="row">
                                        <div class="jumbotron">
                                                {{wtf.quick_form(form)}}
                                        </div>
                                </div>
                        </div>
                        
<hr><hr>
        <div class="container">
                        <ul>

                                        {% if comments %}
                                        {% for comment in comments %}
                                                <div class="row text-center">
                                                                <p style="color: rgb(43, 226, 226); font-size: 24px;">{{ comment.description }}</p>
                                                                
                                                </div>
                                        {% endfor %}
                                        {% else %}
                
                                        <h3>No Comments Yet! !</h3>
                                        {%endif%}
                
                        </ul>
                        
                 
        </div>
        
</div>



	
{% endblock %}