{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<div class="container">

  {% if current_user.is_authenticated%}
    <h1>Hello {{current_user.username}}</h1>
  {% else %}
    <h1 class="text-center">Hello stranger <br>Welcome to Blog</h1>
  {%endif%}
    
</div>
<div class= "row">
    <div class="card" >

    <div  style="text-align: center" class="container-fluid">
    <h3> Quote: </h3>
            <div  class="card-body">
              <p>{{ quotes.quote }}</p>
              <small>{{ quotes.author }}</small>
            </div>


</div>
<button class="btn btn-outline-primary">
  <a style="text-align: center; color: rgb(44, 17, 17);" class="navbar-brand" href="/posts/new/"> Post a Blog </a>
</button>

</div>
  </div>
  {% for posts in post%}
  <div class="row">
  <div class="col-md-12">
    <div class="thumbnail text-center" style="font-family: Great Vibes;font-size: 50px;">

    <h5 class="card-header">{{posts.category}}</h5>
    <div class="card-body">
    
        <h2>{{posts.description}}</h2>
        <small><a style="font-family: Great Vibes;font-size: 20px;">{{posts.author}}</a></small>
        
</div>
</div>
  </div>
  </div>
  {% endfor %}
{% endblock%}

   